<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="{{url_for('index.static', filename='imagens/favicon.png')}}">
    <title>Monitoramento de Preços</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://www.hausz.com.br/index.html"><img src="https://www.hausz.com.br/IMG/LogoHausz200.png"alt="Image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only"></span></a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="">Produtos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index.dashboard')}}">Relatorios</a>
          </li>

          
            </div>
         
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-12">
      </div>
      <!--DropDown Search-->
      <div class="input-group mb-3">
        <div class="input-group-text p-0">
            <select class="form-select form-select-lg shadow-none bg-light border-0">
      
                <option></option>
          
               
            </select>
            
        </div>
        <div class="input-group-text p-0">
          <select class="form-select form-select-lg shadow-none bg-light border-0">
            {%for filtros in  filtrosmarca%}
              <option>{{filtros.Nome}}</option>
              {%endfor%}

             
          </select>
          
      </div>
      <div class="input-group-text p-0">
        <select class="form-select form-select-lg shadow-none bg-light border-0">
            {%for filtros in  filtrosmarca%}
            <option>{{filtros.StatusPedido}}</option>
            {%endfor%}
         
        </select>
        
    </div>
    <div class="input-group-text p-0">
      <select class="form-select form-select-lg shadow-none bg-light border-0">
            {%for filtros in  filtrosmarca%}
          <option>{{filtros.CodigoPedido}}</option>
          {%endfor%}
    
      </select>
      
  </div>
  
        
        <input type="text" class="form-control" id = "myInput" placeholder="Search Here">
        <button class="input-group-text shadow-none px-4 btn-warning">
        <i class="bi bi-search"></i>
        </button>
    </div>
        <br><br>
        <form method="get" action="#">
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control d-inline-flex p-2 d-flex" id="myInput" type="text" placeholder="Pesquise aqui...">
            
            </div>
          </div>
        </form>
      
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NumeroPedido</th>
            <th scope="col">Marca</th>
            <th scope="col">Produto</th>
            <th scope="col">PedidoMinimo</th>
            <th scope="col">PrazoFabricacao</th>
            <th scope="col">PrazoFaturamento</th>
            <th scope="col">PrazoOperacional</th>
            <th scope="col">PrazoProducao</th>

            <th scope="col">SaldoAtual</th>
            <th scope="col">Unidade vendendo</th>
            <th scope="col">StatusPedido</th>
            <th scope="col">ValorTotal</th>
            <th scope="col">DataVenda</th>
         
     
          </tr>
        </thead>
        <tbody id="myTable"  alt="Max-width 100%">
          <tr>
            {% for prod in produtos %}

            <th scope="row"><a href="{{url_for('index.pedidodetalhes',ref =prod.CodigoPedido)}}">{{prod.CodigoPedido}}</a></th>
            <th scope="row">{{prod.Marca}}</th>
           
          
            <th scope="row">{{prod.NomeProduto|truncate(40)}}</th>
            <th scope="row">{{prod.PedidoMinimo}}</th>
            
            
            <th scope="row">{{prod.PrazoFabricacao}}</th>
            <th scope="row">{{prod.PrazoFaturamento}}</th>
            <th scope="row">{{prod.PrazoOperacional}}</th> 

             <th scope="row">{{prod.PrazoProducao}}</th>


              <th scope="row">{{prod.SaldoAtual}}</th>
              <th scope="row">{{prod.Nome}}</th>

              <th scope="row">{{prod.StatusPedido}}</th>
              <th scope="row">{{prod.ValorTotal}}</th>
              <th scope="row">{{prod.vendasku}}</th>
           
          

          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

 


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script type="text/javascript" src="{{ url_for('index.static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('index.static', filename='app.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('index.static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('index.static', filename='app.js') }}"></script>
  <script>
      $(document).ready(function(){
      $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
      });
      });
      </script>

</body>
</html>